<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53239872717-k8dgfbtqiospuvs9eeukk46ftc0jfc9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53239872717-k8dgfbtqiospuvs9eeukk46ftc0jfc9a</string>
	<key>API_KEY</key>
	<string>AIzaSyBnQwGmTtgV-5p-LniyhW3lO8pAWC2Ovr4</string>
	<key>GCM_SENDER_ID</key>
	<string>53239872717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-aacff</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-aacff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53239872717:ios:c6b767b741403e4980bd84</string>
</dict>
</plist>